@import '~antd/dist/antd.css';

.timestamp{
    font-size: 1.5rem;
    color: #5f6368;
}

.product-text{
    font-size: 1.5rem;
    color: #5f6368;
}

.github{
    margin-left: 6rem;
}

.vectorimg{
    width: 500px;
    height: 500px;
}

.problemTab{
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.codeEditor{
    height: 100%;
}

.codeBlock{
    background-color: #e0e0e0;
    border: 1px solid #d4d4d4;
    padding: 3px;
    border-radius: 3px;
}

.ant-popover-inner-content {
    padding: 0px 0px;
}

.incomingStream{
    width: 500px;
    height: 300px;
    background-color: gray;
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.outgoingStream{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 4px;
    position: absolute; 
    right: 0;
}